* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  color: #151515;
}

window {
  background: transparent;  
  border: none;             
  box-shadow: none;         
}

.battery.charging {
  animation: blinky 1s infinite;
}

@keyframes blinky {
  0% { opacity: 1; }
  50% { opacity: 0.25; }
  100% { opacity: 1; }
}

.text-box {
 background: rgba(198, 189, 175, 0.71);
 border-radius: 20px;
 padding: 0 5px 0 5px;
 font-weight: bold;
}

.user-img-box {
 min-width: 24px;
 min-height: 24px;
 border-radius: 50%; 
 background-color: #222;
 background-size: cover;
 background-position: center;
}

.status-box {
  margin: 10px 10px 0 0;
  padding: 10px 10px;          
  background: #f5eee6; 
  border: 2px solid #1e1e2e;
  border-radius: 10px;
}

.system-box {
  margin: 0px 10px 0 0;
  padding: 10px 10px;
  background: #f5eee6;
  border: 2px solid #1e1e2e;
  border-radius: 10px;
}
