* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  color: #151515;
}

window {
  background: transparent;  
  border: none;             
  box-shadow: none;         
}

.battery.charging {
  animation: blinky 1s infinite;
}

@keyframes blinky {
  0% { opacity: 1; }
  50% { opacity: 0.25; }
  100% { opacity: 1; }
}

.text-box {
 background: rgba(198, 189, 175, 0.71);
 border-radius: 20px;
 padding: 0 5px 0 5px;
 font-weight: bold;
}

.user-img-box {
 min-width: 30px;
 min-height: 30px;
 border-radius: 50%; 
 background-color: #222;
 background-size: cover;
 background-position: center;
}

.box {
  padding: 8px 10px;
  margin: 10px 10px 0 0;
  min-height : 45px;
  background: #f5eee6; 
  border: 2px solid #1e1e2e;
  border-radius: 10px;
}

.playbutton {
  background-repeat: no-repeat;
  background-size: 35px;
  min-height: 35px;
  min-width: 35px;
  margin: 0px;
}

.trackbutton {
 background-repeat: no-repeat;
 background-position: center;
 background-size: 18px;
 min-height: 18px;
 min-width: 18px;
}

.musicbox {
	margin : 0px 0px 0px 5px;
}

.song {
	font-size : 14px;
	font-weight : bold;
}

.artist {
	font-size : 12px;
	font-weight : bold;
}

.album {
        background-repeat: no-repeat;
        background-position: center;
	background-size: cover;
	min-height: 40px;
	min-width: 40px;
	border-radius: 8px;
}

.music-buttons {
	margin : 0px 0px 0px 30px;
}

.date {
 font-size : 12px;
 font-weight: bold;
 padding: 0 0 0 5px;
}

.time {
 font-size : 14px;
 font-weight : bold;
 padding: 0 0 0 5px;
}

.hardware-box {
 border-radius: 8px;
 background-color: #d3b592;
 padding: 4px;
}
